dev/frames/
dev/*.png
dev/*.log
dev/*.pid
dev/answer.txt
__pycache__/
.venv/
dev/mframes/
dev/walk/
dev/cf/
dev/df/
dev/v/
dev/bt/
dev/pk/
dev/micrec*/
dev/*.wav
dev/*.out
dev/sr/
dev/ut/
dev/sr-*.png
dev/oc/
dev/oc.txt
dev/oc2.txt
